body {
    margin-top: 0;
    background-color: #F9F8F0;
}
div.header {
    margin: -3px 100px 100px 90px;
    padding: 50px;
    text-align: center;
}
div.header-nav-wrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: left;
    position:absolute; top:55px; left: 11px;
    margin: -10px 10px 10px 11px;
    color:black;
}
div.header-nav-wrapper2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: right;
    position:absolute; top:46px; right: 19px;
    margin: -10px px 10px 10px;
    color:black;}
hr {
    margin: -120px 10px 120px 10px;
}
li {
    display: inline;
    margin-right: 10px;}
.pointer {
    cursor: pointer;
}
a:link {
    text-decoration: none;}
a:visited {
    text-decoration: none;
    color: black;}
a:hover {
    text-decoration: underline;}
.sitewrapper {
    letter-spacing: 0em;
}
a {
    color: inherit;}
/*Style the topnav links*/
.topnav a {
    float:left;
    display: block;
    color: black;
    text-align: right;}
.row {
    display:-ms-flexbox; /* IE10 */
    display: flex;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-bottom: 4px;
    width: 100%;
}
div.container main {
    margin: 100px;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 100%;
}
@media only screen and (max-width: 900px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 900px) {
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.collumnimg {
    position: relative;
    text-align: center;
    color:white;
}
.top-left {
    position: absolute;
    bottom: 8px;
    left: 16px;}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}
#columnimg {
    border-radius: 0px;
    cursor: pointer;
    transition: 0.6s;
}
#columnimg:hover {
    opacity: 0.7%;
    text: click to view more;}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
